:root{
  --tamanho-maximo-container: 800px
}
.flex-auto{
  flex: auto;
}
.tamanho-maximo-container-pagina{
  max-width: var(--tamanho-maximo-container);
}
.margin-auto{
  margin:auto
}

.q-toolbar__title{
  font-size: 18px !important;
}

.q-card--dark {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

body.body--dark .q-layout__shadow:after {
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0px 10px rgba(0, 0, 0, 0.24);
}

.q-date--dark{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}